<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt7IIEu1OwvXUQ9BO_JEILqyasWzfLMD4</string>
	<key>GCM_SENDER_ID</key>
	<string>295368262040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashmawi.donation</string>
	<key>PROJECT_ID</key>
	<string>donation-4de07</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-4de07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295368262040:ios:d3fc8a21c10f4364f3abed</string>
</dict>
</plist>